<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>

        @* <p class="text-danger h2">Looks ike you have followed a wrong or outdated link</p> *@

        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Error 404 | Page Not Found</h1>
            <p class="text-danger h2">Looks ike you have followed a wrong or outdated link</p>
        </LayoutView>

        @* <LayoutView Layout="@typeof(MainLayout)">
            <BlazorCustom404.StandaloneWASM.Pages.CustomErrorPage StatusCode="404" />
        </LayoutView> *@
    </NotFound>
</Router>
